body {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.redes-sociais h3 {
    color: #00BAC6;
}

li {
    padding: 5px 0;
}

/*
****  cabeçalho  ****
*/

#cabeçalho {
    text-align: center;
    padding-top: 15px;
    background: #4E2C33;
    height: 150px;
    padding-bottom: 20px;
    position: fixed; 
    width: 100%;
}

/*
****  logo  ****
*/

.logo span {
    color: rgb(255, 255, 255);
}

.logo {
    width: 100%;
    font-size: 40px;
    padding: 15px;
    color: #CFADA4;
}

/*
****  navegação  ****
*/

.nav:link,
.nav:visited {
    margin: 60px;
    padding: 15px;
    text-decoration: none;
    color: #CFADA4;
}

.nav:hover {
    color: #00BAC6;
}

/* 
****  quem sou  ****
*/

#bemvindo {
    border: 1px solid red;
    padding: 250px;
    margin-bottom: 15px;
}

/* 
****  portfolio  ****
*/

#reserva {
    border: 1px solid blue;
    padding: 250px;
    margin-bottom: 15px;
} 

/* 
****  cardapio  ****
*/

#cardapio {
    border: 1px solid rgb(255, 0, 212);
    padding: 250px;
    margin-bottom: 15px;
    color: #CFADA4;
} 

/*
****  menu  ****
*/

#contato {
    border: 1px solid rgb(255, 0, 221);
    padding: 20px;
    background-color: #4E2C33;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.nav-final {
    text-align: center;
}


.redes-sociais {
    float: left;
    padding: 15px 40px;
}

.localizacao {
    float: right;
    padding: 15px 40px;
}

iframe {
    width: 700px;
    height: 200px;
    border-radius: 10px;
}