body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.redes-sociais a {
  text-decoration: none;
  color: white;
}

.redes-sociais h3 {
  color: #cfada4;
}

li {
  padding: 5px 0;
}

/* 
****  bem vindo ****
*/

#bemvindo {
  border: 1px solid red;
  padding: 250px;
  margin-bottom: 15px;
}

/* 
****  adoção  ****
*/

#adoção {
  border: 1px solid blue;
  padding: 250px;
  margin-bottom: 15px;
}

/* 
****  reserva  ****
*/

#reserva {
  border: 1px solid blue;
  padding: 250px;
  margin-bottom: 15px;
}

/* 
****  cardapio  ****
*/

#cardapio {
  border: 1px solid rgb(255, 0, 212);
  padding: 250px;
  margin-bottom: 15px;
  color: #cfada4;
}

/*
****  contato  ****
*/

#contato {
  border: 1px solid rgb(255, 0, 221);
  padding: 20px;
  background-color: #4e2c33;
  color: white;
  text-decoration: none;
  list-style-type: none;
}

.navegação-final {
  text-align: center;
}

.redes-sociais {
  float: left;
  padding: 15px 40px;
}

.localizacao {
  float: right;
  padding: 15px 40px;
}

iframe {
  width: 700px;
  height: 200px;
  border-radius: 10px;
}
